.slider {
    border: 1px solid green;
    height: 300px; /* Set the desired height for your slider */
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%; /* Set the width as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slides {
    display: flex;
    flex-direction: column; /* Change the direction to column */
    overflow-y: auto; /* Change overflow-x to overflow-y */
    scroll-snap-type: y mandatory; /* Change to y for vertical scrolling */
  
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 100%; /* Set the height of the .slides container */
  }
  
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-bottom: 50px; /* Adjust margin-bottom as needed */
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 100px; */
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.5rem 0 0; /* Adjust margin as needed */
    position: relative;
  }
  
  .slider > a:active {
    top: 1px;
  }
  
  .slider > a:focus {
    background: #000;
  }
  