.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  padding: 5px 40px;
  width: 100%; /* Set the width to 100% to span the entire viewport */
  top: 0; /* Fix it to the top of the viewport */
  z-index: 999; /* Optionally set a z-index to control stacking */
  transition: background-color 0.3s ease;
}

.navbar.scrolled, .navbar:hover {
  background-color: #f9f9f9; /* Change to the desired background color */
}
/* Adjust styles for content below the navbar */
/* Add padding or margin to ensure content isn't covered by the fixed navbar */
.container {
  display: flex;
  align-items: center;
  padding-top: 0;
  /* Other styles */
}
.left a {
  margin: 15px;
}
.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-content svg {

}

/* Rest of your styles */
.navbar a {
  text-decoration: none;
  margin-left: 5px;
}

/* Logo styles */
.logo {
  font-size: 24px;
  font-weight: bold;
}

